/* COLORS */

/*** FONTS ***/

/* Roboto, for paragraphs and body text */
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* HARRY POTTER */

/* Import the Harry Potter font which was downloaded from the internet Use this for the logo */
@font-face {
    font-family: harry-potter;
    src: url(https://cdn.glitch.com/96e7d60a-fbf1-48c3-a81b-6fd525ffafe8%2FHarryP-MVZ6w.ttf?v=1622323399739);
}

/* Import the Lumos Latino font to use for headers. */
@font-face {
    font-family: lumos-latino;
    src: url(https://cdn.glitch.com/96e7d60a-fbf1-48c3-a81b-6fd525ffafe8%2FLumoslatino-XA8K.ttf?v=1622323400147);
}

/* Halloween */
/* Creepster. For titles */
/* font-family: 'Creepster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* 
Colors: 
Purple: #602749
Orange:#ff5800
light-orange: #ffa500
Yellow: ##fff100
*/



/* Reset the margin and padding of everything so we can get rid of the white border that the browser gives us by default*/
* {
    margin: 0;
    padding: 0;
  }

/* STYLE THE HEADER */

header {
    background-color: black;
    display: grid;
    grid-template-columns: 40% 50% 10%;
    grid-template-rows: 1;
   
}

/* The title */
#dummy-data-title {
    font-family: harry-potter, lumos-latino;
    color: #EDC664;
    font-size: 4em;
    margin-left: 100px;
}

/* STYLE THE BODY OF THE PAGE */
body {
    background-color: black;
    background-image: url("assets/hogwarts-crest.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 500px;
    background-position: center;
}





/* STYLE THE DROPDOWN MENU */
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


/* Style the Hamburger Menu icon */

  .dropbtn {
    display: inline-block;
    cursor: pointer;
  }
  
  #bar1, #bar2, #bar3 {
    width: 35px;
    height: 5px;
    background-color: #EDC664;
    margin: 6px 0;
    transition: 0.4s;
  }

  #hamburger-menu {
      margin-left: 110px;
  }

  
  /* Rotate first bar */
  .change #bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change #bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change #bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }


  /* STYLE THE MAIN CONTENT OF THE PAGE */


/* STYLE THE TABLES */
table {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
/* Style the rows */
.row-content, .row-name {
    background-color: rgb(255,255,255, 0.9);
}

.row-name {
    font-family: lumos-latino;
}
td {
    padding: 15px;
    /* Make the words wrap if they reach the max width */
    word-wrap: break-word;
}

.row-content {
    max-width: 250px;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Style the buttons to copy the text */
.copy-button {
    background-color: #EDC664;
    font-family: harry-potter, lumos-latino;
    padding: 20px;
    font-size: 30px;
    
}

.copy-button:hover {
    background-color: #ad080a;
    color: #fbc061;
}

/* STYLE THE TEXT AREAS */
textarea {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7em;
    padding-right: 7em;
    height: 400px;
}

#text-area-1, #text-area-2 {
    background-color: #dbcea2;
    color: #0a5c00;
    text-align: left;
}

.text-area-button-div {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERIES */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* The title */
    #dummy-data-title {
        font-size: 8em;
        margin-left: auto;
        margin-right: auto;
    }

    #hamburger-menu {
        margin-left: 50px;
    }
}